streamlit
transformers
tensorflow
torch
torchvision
torchaudio
tensorflow_hub
tensorflow_text
scikit-learn
opencv-python
numpy
pandas
requests
beautifulsoup4
pytube
google-api-python-client
youtube_dl
Pillow
matplotlib
seaborn
flask
tqdm
moviepy
scipy
faiss-cpu
tika
